*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

header {
    height: 100px;
    width: 100%;
}

.cont_head {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor_logo {
    height: 100%;

    img{
        height: 100%;
    }
}