{% extends 'indexZoo.html' %}

{% load static %}

{% block Main %}
<main id="main">
    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">About us</h1>
          </div>
        </div>

        <div class="row mb-5">

          <div class="d-md-flex post-entry-2 half">
            <a href="#" class="me-4 thumbnail">
              <img src="{% static 'assets/img/tigre.jpeg' %}" alt="" class="img-fluid">
            </a>
            <div class="ps-md-5 mt-4 mt-md-0">
              <div class="post-meta mt-4">Sobre Nosotros</div>
              <h2 class="mb-4 display-4">Historia de la Pagina</h2>
              <p>Zenblog</p>
              <p> Este blog fue creado con la finalidad de realizar post acerca de los animales existentes en un zoologico, 
                asi los usuarios de la web pueden observar dichos animales y realizar post sobre estos, para ello
                es necesarios que se encuentren registrados en la página web, asi tambien podran realizar gestiones sobre los
                posteos.
                
              </p>
              <p></p>
            </div>
          </div>

        </div>

      </div>
    </section>

    <section>
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <h2 class="display-4">Nuestro equipo</h2>
                <p>Somos un equipo de estudiante de la plataforma coder, que se encuentran adquiriendo nuevos conocimiento en el campo 
                  del desarrollo web, es por ello que como trabajo final decidimos crear un blog para un zoologico, con la finalidad de que
                  los usuarios y amantes de los animales pueda realizar post sobre la lista de animales que se encuentran en el zoologico. Esperamos
                  seguir forjando conosimiento en el desarrollo web para alcanzar grandiosas metas en este mundo inexplorado.
                </p>
              </div>
            </div>
          </div>
          {% for persona in Empleados %}
          <div class="col-lg-4 text-center mb-5">
            <img src="{{ persona.imagenEmpleado.url }}" alt="" class="img-fluid rounded-circle w-50 mb-4">
            <h4>{{ persona.nombre }}</h4>
            <span class="d-block mb-3 text-uppercase">{{ persona.rol }}</span>
            <p>{{ persona.descripcion }}. repellat maxime, adipisci non ipsam at itaque rerum vitae, necessitatibus nulla animi expedita cumque provident inventore? Voluptatum in tempora earum deleniti, culpa odit veniam, ea reiciendis sunt ullam temporibus aut!</p>
          </div>
          {% endfor %}

</main><!-- End #main -->
{% endblock %}