{% extends 'indexZoo.html' %}

{% load static %}

{% block Main %}
<main id="main">
  <section id="contact" class="contact mb-5">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-12 text-center mb-5">
          <h1 class="page-title">Contactanos por:</h1>
        </div>
      </div>

      <div class="row gy-4">

        <div class="col-md-4">
          <div class="info-item">
            <i class="bi bi-linkedin"></i>
            <h3>Linkedin</h3>
            <p><a target="blank" href="https://www.linkedin.com/in/isaías-robles-vega-9b4b87220/">Isaías Robles Vega</a></p>
            <p><a target="blank" href="https://www.linkedin.com/in/iv%C3%A1n-pincheira-tapia/">Iván Pincheira Tapia</a></p>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-4">
          <div class="info-item info-item-borders">
            <i class="bi bi-github"></i>
            <h3>Github</h3>
            <p><a target="blank" href="https://github.com/isak4567">Isaías Robles Vega</a></p>
            <p><a target="blank" href="https://github.com/IvanPincheiraTapia">Iván Pincheira Tapia</a></p>
          </div>
        </div><!-- End Info Item -->

        <div class="col-md-4">
          <div class="info-item">
            <i class="bi bi-envelope"></i>
            <h3>Email</h3>
            <p><a target="blank" href="mailto:isaiasrv@gmail.com">isaiasrv@gmail.com</a></p>
            <p><a target="blank" href="mailto:ivanpincheira18@gmail.com">ivanpincheira18@gmail.com</a></p>
          </div>
        </div><!-- End Info Item -->

      </div>

    </div>
  </section>

</main><!-- End #main -->
{% endblock %}