<!DOCTYPE html>
<html lang="en">

<head>

  {% load static %}

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ZenBlog - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog - v1.2.1
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'Home' %}" class="logo d-flex align-items-center col-4">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png" alt=""> -->
        <h1>ZenBlog</h1>
      </a>

      <nav id="navbar" class="navbar col-4">
        <ul>
          <li><a href="{% url 'Home' %}">Home</a></li>
          <li><a href="{% url 'posts' %}">Posts</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'LogOut' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'LogIn' %}">Log In</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative col-4">
        {% if user.is_authenticated %}
        <div class="dropdown d-flex align-items-center justify-content-center">
          <button class="btn dropdown-toggle col-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ imgPerfil }}" alt="avatar" class="figure-img img-fluid rounded-circle ">
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'DetallesPerfil' %}">Ver Perfil</a></li>
            <li><a class="dropdown-item" href="{% url 'ActualizarPerfil' %}">Editar Perfil</a></li>
          </ul>
        </div>
        {% endif %}
      </div>

    </div>

  </header><!-- End Header -->

  {% block Main %}
  <main id="main">

    <h2>{{ mensaje }}</h2>
    <!-- ================== Animales Section ============== -->
    <section class="container">
      <h2 data-aos="fade">Animales Nuestros</h2>
      <button>
        <a href="{% url 'ListasAnimales' %}">Ver todos los animales</a>
      </button>
      <!-- ____ Permisos de admin ____ -->
      {% if user.is_staff %}
      <button>
        <a href="{% url 'AgregarAnimalG1' %}">Agregar Vertebrado</a>
      </button>
      <button>
        <a href="{% url 'AgregarAnimalG2' %}">Agregar Invertebrado</a>
      </button>
      {% endif %}
      <div class="row " data-aos="fade">
        <!-- ____ Obj animal1 ____ -->
        {% for animal in vertebrados %}
        <div class="col-4">
          <div class="row col">
            <img class="col-6 img-fluid" src="{{ animal.imagenAnimal.url }}" alt="">
            <div class="col-6">
              <h4>Nombre:       {{ animal.nombre }}</h4>
              <p>Clasificacion: {{ animal.Subfilo_Vertebrado}}</p>
              <p>Especie:       {{ animal.Especie }}</p>
             <p>alimentacion:  {{ animal.alimentacion }}</p>
             <p>Conducta:      {{ animal.conducta }}</p>
            </div>
          </div>
          <!-- ____ Links a CRUD ____ -->
          <a href="{% url 'DetallesAnimalG1' animal.id %}">Ver mas</a>
          {% if user.is_staff %}
            <form action="{% url 'EliminarAnimalG1' animal.id %}" method="post">{% csrf_token %}
              <button type="submit">Liberar</button>
            </form>
            <button>
              <a href="{% url 'ModificarAnimalG1' animal.id %}">Modificar</a>
            </button>
          {% endif %}
          {% if user.is_authenticated %}
          <button>
            <a href="{% url 'AgregarPost' animal.nombre %}">Hacer un articulo sobre el</a>
          </button>
          {% endif %}
        </div>
        {% endfor %}

        <!-- ____ Obj animal2 ____ -->
        {% for animal in invertebrados %}
        <div class="col-4">
          <div class="row col">
            <img class="col-6 img-fluid" src="{{ animal.imagenAnimal.url }}" alt="">
            <div class="col-6">
              <h4>Nombre:       {{ animal.nombre }}</h4>
              <p>Clasificacion: {{ animal.Subfilo_Invertebrado}}</p>
              <p>Especie:       {{ animal.Especie }}</p>
              <p>alimentacion:  {{ animal.alimentacion }}</p>
              <p>Conducta:      {{ animal.conducta }}</p>
            </div>
          </div>
          <!-- ____ Links a CRUD ____ -->
          <a href="{% url 'DetallesAnimalG2' animal.id %}">Ver mas</a>
          {% if user.is_staff %}
            <form action="{% url 'EliminarAnimalG2' animal.id %}" method="post">{% csrf_token %}
              <button type="submit">Liberar</button>
            </form>
            <button>
              <a href="{% url 'ModificarAnimalG2' animal.id %}">Modificar</a>
            </button>
          {% endif %}
          {% if user.is_authenticated %}
          <button>
            <a href="{% url 'AgregarPost' animal.nombre %}">Hacer un articulo sobre el</a>
          </button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      
    </section> <!-- ========== End Animales Section ======= -->

    <!-- ======= Post Section ======= -->
    <section id="posts" class="posts">
            
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <!-- ____ Obj post ____ -->
          {% for item in post %}
          <div class="col-lg-4 border-start custom-border">
            <div class="post-entry-1 ">
              <a href="{% url 'PostDetalles' item.id %}"><img src="{{ item.imagen.url }}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">{{item.animal}}</span> <span class="mx-1">&bullet;</span> <span>{{item.fecha_post}}</span></div>
              <h2><a href="{% url 'PostDetalles' item.id %}">{{item.titulo}}</a></h2>
              <p class="mb-4 d-block">{{item.subtitulo}}</p>

              <div class="d-flex align-items-center author">
                <div class="photo"><img src="{{ item.avatar_url }}" alt="" class="img-fluid"></div>
                <div class="name">
                  <h3 class="m-0 p-0">{{item.user.username}}</h3>
                </div>
                {% if user.is_authenticated %}
                {% if user.username == item.user.username or user.is_staff %}
                <form action="{% url 'PostEliminar' item.id %}" method="post">{% csrf_token %}
                  <button type="submit">Eliminar articulo</button>
                </form>
                <button><a href="{% url 'PostModificar' item.id %}">Modificar Articulo</a></button>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Section -->

  </main><!-- End #main -->
  {% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-6">
            <h3 class="footer-heading">About ZenBlog</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid blanditiis omnis quae. Explicabo?</p>
            <p><a href="{% url 'about' %}" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="{% url 'Home' %}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="{% url 'posts' %}"><i class="bi bi-chevron-right"></i> Posts</a></li>
              <li><a href="{% url 'about' %}"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="{% url 'contact' %}"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              {% for item in recentPost %}
              <li>
                <a href="{% url 'PostDetalles' item.id %}" class="d-flex align-items-center">
                  <img src="{{ item.imagen.url }}" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">{{item.animal}}</span> <span class="mx-1">&bullet;</span> <span>{{item.fecha_post}}</span></div>
                    <span>{{item.titulo}}</span>
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>ZenBlog</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>
        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>