{% extends 'indexZoo.html' %}

{% load static %}

{% block Main %}

<main id="main">
    <section>
      <div class="container">
          <div class="col-md-12" data-aos="fade-up">
            <h2>{{ mensaje }}</h2>
            <h3 class="category-title">Todos los Posts</h3>
            {% if user.is_authenticated %}
            <button>
              <a href="{% url 'ListasAnimales' %}">Agregar un nuevo articulo</a>
            </button>
            {% endif %}
            {% for item in post %}
              
            <div class="d-md-flex post-entry-2 half">
              <a href="{% url 'PostDetalles' item.id %}" class="me-4 thumbnail">
                <img src="{{ item.imagen.url }}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{item.animal}}</span> <span class="mx-1">&bullet;</span> <span>{{item.fecha_post}}</span></div>
                <h3><a href="{% url 'PostDetalles' item.id %}">{{item.titulo}}</a></h3>
                <p>{{item.subtitulo | safe}}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ item.avatar_url }}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{item.user.username}}</h3>
                  </div>
                  {% if user.is_authenticated %}
                  {% if user.username == item.user.username or user.is_staff %}
                  <form action="{% url 'PostEliminar' item.id %}" method="post">{% csrf_token %}
                    <button type="submit">Eliminar articulo</button>
                  </form>
                  <button><a href="{% url 'PostModificar' item.id %}">Modificar Articulo</a></button>
                  {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>

      </div>
    </section>
</main><!-- End #main -->
{% endblock %}