{% extends 'indexZoo.html' %}

{% load static %}

{% block Main %}

<main id="main">
    <section>
      <div class="container">
          <div class="col-md-12" data-aos="fade-up">
            <h3 class="category-title">Todos los Posts</h3>
            <button>
              <a href="{% url 'ListasAnimales' %}">Agregar un nuevo articulo</a>
            </button>
            {% for item in post %}
              
            <div class="d-md-flex post-entry-2 half">
              <a href="single-post.html" class="me-4 thumbnail">
                <img src="{{ item.imagen.url }}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{item.animal}}</span> <span class="mx-1">&bullet;</span> <span>{{item.fecha_post}}</span></div>
                <h3><a href="single-post.html">{{item.titulo}}</a></h3>
                <p>{{item.subtitulo}}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{ item.avatar_url }}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{item.user.username}}</h3>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>

      </div>
    </section>
</main><!-- End #main -->
{% endblock %}